@import '../../sassStyles/variables';
@import '../../sassStyles/functions';

.FtCategoryItem {
  display: flex;
  height: 600px;

  &:last-child {
    flex-direction: row-reverse;
  }

  &__img {
    overflow: hidden;

    &:hover img {
      transform: scale(1.1);
    }
    img {
      width: 100%;
      transition: all 0.3s ease-out;
    }
  }

  & > * {
    width: 50%;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__text {
    width: 80%;
  }

  &__heading {
    width: 70%;
    margin: 0 auto;
  }
}
