@import '../../sassStyles/_variables';
@import '../../sassStyles/_functions';

.ArrivalsContainer {
  padding: rem(100) 0;

  &_gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 rem(-10px);
  }
}
