@import '../../sassStyles/functions';
@import '../../sassStyles/variables';

.account-menu {
  position: absolute;
  top: rem(70);
  right: 0;
  display: flex;
  flex-direction: column;
  width: rem(170);
  border: 1px solid $color-gray-dark;
  background-color: $color-white;
  z-index: 100;
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-black;
  }

  &__item {
    list-style: none;
    padding: rem(10) rem(10);

    &:hover,
    &:focus {
      background-color: $color-gray-dark;
    }
  }
}
