@import '../../sassStyles/functions';
@import '../../sassStyles/variables';

.Header {
  height: rem(70);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-container {
    flex-grow: 4;

    .logo {
      height: rem(50);
      width: rem(50);
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.Navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-self: stretch;

  &_item {
    padding: 0 10px;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    position: relative;

    a {
      &:link,
      &:visited {
        transition: all 0.2s ease-out;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-black;
        font-size: rem(15);
        display: inline-flex;
      }

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }

    &--icon {
      &:hover {
        color: $color-black;
      }

      svg {
        height: rem(18);
      }
    }
  }
}
