@import './functions';
@import './variables';

.HeadingThree {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  letter-spacing: 5px;
  z-index: 1;

  &--button {
    padding: rem(15) rem(30);
    background-color: $color-white;
    color: $color-black;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

.HeadingTwo {
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease-out;
  letter-spacing: 1px;
  font-size: rem(36);
  position: relative;
  line-height: 1.4;

  &--small {
    font-size: rem(34);
    text-transform: initial;
  }

  &--dots {
    margin-bottom: rem(60);
    text-align: center;

    &::after {
      content: '...';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -45px;
      color: $color-gray-dark;
      letter-spacing: 7px;
      font-size: 50px;
    }
  }
}
