@import './functions';
@import './variables';

.HeadingThree {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  letter-spacing: 5px;

  &--button {
    padding: rem(15) rem(30);
    background-color: $color-white;
    color: $color-black;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }
}

.HeadingTwo {
  font-family: 'Jost', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease-out;
  letter-spacing: 3px;
  font-size: rem(38);
  text-align: center;
  position: relative;
  margin-bottom: rem(60);

  &::after {
    content: '...';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -45px;
    color: $color-gray-dark;
    letter-spacing: 7px;
    font-size: 50px;
  }
}
